:root {
  --primary-color: #28527a;
  --secondary-color: #8ac4d0;
  --accent-color: #293a88;
  --light-bg: #f7f7f7;
  --dark-text: #333;
  --light-text: #fff;
  --font-main: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--light-bg);
  color: var(--dark-text);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

input, select {
  padding: 8px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--light-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
}

@media only screen and (max-width: 600px) {
  .app-header, .news-grid {
      flex-direction: column;
  }
}
