.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    animation: fadeIn 1s;
}

.news-card {
    background-color: var(--light-text);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-card h2, .news-card p {
    padding: 10px;
}

.news-card a {
    display: block;
    text-align: center;
    background-color: var(--accent-color);
    padding: 10px 0;
    color: var(--dark-text);
}

.news-card span {
    display: block;
    padding: 10px;
    text-align: right;
    font-size: 0.8rem;
}
